[flake8]
# Rule definitions: http://flake8.pycqa.org/en/latest/user/error-codes.html
# D203: 1 blank line required before class docstring
# F401: 'identifier' imported but unused
# E402: module level import not at top of file
# C901: too complex
# W503: line break before binary operator
exclude = venv*,__pycache__,node_modules,bower_components,migrations
ignore = D203,W503
max-complexity = 24
max-line-length = 120
putty-ignore =
    **/__init__.py : +F401
    app/__init__.py, app/main/__init__.py, app/status/__init__.py, app/explorer/__init__.py : +E402
    app/main/views/*.py : +C901
