language: python
sudo: false
python:
  - "2.7"
  - "3.4"
addons:
  postgresql: "9.3"
env:
  - SQLALCHEMY_DATABASE_URI=postgresql://postgres:@localhost:5432/digitalmarketplace_test
install:
  - make requirements_for_test
before_script:
  - psql -c 'create database digitalmarketplace_test;' -U postgres
script:
  - PYTEST_ARGS='--cov=app --cov-report=term-missing' make test
after_success:
  - coveralls
notifications:
  email: false
