-e git+https://github.com/AusDTO/dto-digitalmarketplace-utils.git@25.21.2#egg=dto-digitalmarketplace-utils==25.21.2
-e git+https://github.com/AusDTO/dto-digitalmarketplace-apiclient.git@6.11.1#egg=dto-digitalmarketplace-apiclient==6.11.1

-e .

pytest
pep8
flake8
requests-mock
mock
freezegun
nose
coverage
pytest-cov
python-coveralls
hypothesis
