# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

git+https://github.com/alphagov/digitalmarketplace-utils.git@52.5.0#egg=digitalmarketplace-utils==52.5.0
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@21.5.0#egg=digitalmarketplace-apiclient==21.5.0

Flask==1.0.4                     # pyup: >=1.0.0,<1.1.0
Flask-Bcrypt==0.7.1              # pyup: >=0.7.1,<0.8.0
Flask-Migrate==2.5.3             # pyup: ignore
Flask-SQLAlchemy>=2.4.1,<=2.5.0  # pyup: ignore
itsdangerous==1.1.0               # pyup: ignore

--no-binary=psycopg2
psycopg2==2.8.5
SQLAlchemy>=1.3.0,<=1.4.0  # pyup: ignore
SQLAlchemy-Utils==0.36.6
sqlalchemy-json==0.4.0

# For schema validation
jsonschema==3.2.0
rfc3987==1.3.8
strict-rfc3339==0.7
