amqp==5.0.6
apipkg==1.4
appdirs==1.4.3
asn1crypto==0.24.0
backoff==1.4.3
bcrypt==3.1.4
billiard==3.6.4.0
bleach==3.1.0
blinker==1.4
boto==2.49.0
boto3==1.9.19
botocore==1.12.19
celery==5.0.5
cffi==1.14.5
click==7.1.2
configparser==3.5.0
contextlib2==0.5.5
coverage==4.4.1
cryptography==2.3
csvx==0.1.1459403998
defusedxml==0.5.0
docopt==0.6.2
docutils==0.14
-e git+https://github.com/AusDTO/dto-digitalmarketplace-apiclient.git@bdc3015bb42a63611242e0573dd58160e9a3dfeb#egg=dto_digitalmarketplace_apiclient==whatever
-e git+https://github.com/AusDTO/dto-digitalmarketplace-utils.git@a532a95c65c21f99952452a6389ba0b91a06f9b1#egg=dto_digitalmarketplace_utils==whatever
enum34==1.1.6
execnet==1.4.1
Faker==0.7.12
fire==0.1.3
flake8==3.9.1
flasgger==0.8.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Caching==1.5.0
Flask-FeatureFlags==0.6
Flask-KVSession==0.6.2
Flask-Login==0.4.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.1
freezegun==1.1.0
funcsigs==1.0.2
futures==3.1.1
hypothesis==3.10.0
idna==2.7
inflection==0.3.1
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.11.3
jira==2.0.0
jmespath==0.9.3
jsonschema==2.6.0
kombu==5.0.2
mailchimp3==3.0.10
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.1
mccabe==0.6.1
migra==1.0.1494928440
mistune==0.8.3
mock==2.0.0
monotonic==1.5
newrelic==6.2.0.156
nose==1.3.7
nplusone==0.8.1
oauthlib==2.0.2
ordereddict==1.1
packaging==16.8
paramiko==2.1.2
pathlib==1.0.1
pbr==4.3.0
pendulum==2.1.2
pluggy==0.13.1
psycopg2==2.7.6
py==1.10.0
pyasn1==0.2.3
pycodestyle==2.7.0
pycparser==2.19
pycurl==7.43.0.1
pyflakes==2.3.1
PyJWT==1.5.0
pyparsing==2.2.0
pytest==6.2.3
pytest-cov==2.5.1
pytest-sugar==0.9.1
python-coveralls==2.9.3
python-dateutil==2.8.1
python-json-logger==0.1.9
pytz==2021.1
pytzdata==2020.1
PyYAML==5.4.1
redis==3.3.8
requests==2.19.1
requests-mock==1.3.0
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rfc3987==1.3.7
rollbar==0.14.6
s3transfer==0.1.13
schemainspect==0.1.1494928171
simplekv==0.13.0
six==1.15.0
SQLAlchemy==1.1.10
SQLAlchemy-Utils==0.32.14
sqlbag==0.1.1487916199
sqlparse==0.2.4
sqltap==0.3.10
sshtunnel==0.1.2
streql==3.0.2
strict-rfc3339==0.7
sultan==0.8.0
termcolor==1.1.0
tox==2.9.1
tzlocal==1.5.1
vine==5.0.0
virtualenv==16.0.0
waitress==2.0.0
webencodings==0.5.1
Werkzeug==1.0.1
workdays==1.4
WTForms==2.2.1
