-c requirements.txt

pip-tools>=5.4.0

# For schema generation
alchemyjsonschema==0.5.0

# For tests
coverage
flake8
freezegun
mock
pytest
pytest-cov
python-dotenv  # used to load .flaskenv
requests-mock
testfixtures

digitalmarketplace-test-utils
