-c requirements.txt

pip-tools>5.0.0

# For tests
coverage
coveralls
flake8
freezegun
mock
pytest
pytest-cov
python-dotenv  # used to load .flaskenv
requests-mock
testfixtures

git+https://github.com/alphagov/digitalmarketplace-test-utils.git@2.6.1#egg=digitalmarketplace-test-utils

# For schema generation
alchemyjsonschema==0.5.0
