-r requirements.txt

# For tests
git+https://github.com/alphagov/digitalmarketplace-test-utils.git@1.4.0#egg=digitalmarketplace-test-utils==1.4.0
coverage==3.7.1
flake8-per-file-ignores==0.4.0
flake8==3.5.0
freezegun==0.3.8
hypothesis==2.0.0
mock==2.0.0
pycodestyle==2.3.0
pytest-cov==2.5.1
pytest==3.2.3
python-coveralls==2.5.0
requests-mock==0.6.0
testfixtures==6.0.2
