# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Migrate==2.0.3
Flask-SQLAlchemy==2.1
itsdangerous==0.24
--no-binary=psycopg2
psycopg2==2.7.7
SQLAlchemy==1.2.12
SQLAlchemy-Utils==0.33.3
sqlalchemy-json==0.2.2

git+https://github.com/alphagov/digitalmarketplace-utils.git@45.2.0#egg=digitalmarketplace-utils==45.2.0
git+https://github.com/alphagov/digitalmarketplace-apiclient.git@19.14.0#egg=digitalmarketplace-apiclient==19.14.0

# For schema validation
jsonschema==2.5.1
rfc3987==1.3.4
strict-rfc3339==0.5
