commands:
  create_app_hook_pre_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/pre"
    ignoreErrors: true

  create_config_hook_pre_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/configdeploy/pre"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99apache408.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      WSGI_FILE_PATH=$(/opt/elasticbeanstalk/bin/get-config container -k 'wsgi_staging_config')
      sed -i 's/\(<\/VirtualHost>\)/RequestReadTimeout header=40,MinRate=500 body=40,MinRate=500\'$'\n\\1/g' "$WSGI_FILE_PATH"
  "/opt/elasticbeanstalk/hooks/configdeploy/pre/99apache408.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      WSGI_FILE_PATH=$(/opt/elasticbeanstalk/bin/get-config container -k 'wsgi_staging_config')
      sed -i 's/\(<\/VirtualHost>\)/RequestReadTimeout header=40,MinRate=500 body=40,MinRate=500\'$'\n\\1/g' "$WSGI_FILE_PATH"
