# See cwl-logs-apache-access.config for more comments
Mappings:
  CWLogs:
    ApplicationLogs:
      LogDirectory: "/var/log/digitalmarketplace"
      LogFile: "/var/log/digitalmarketplace/application.log"
      JSONLogFile: "/var/log/digitalmarketplace/application.log.json"
      TimestampFormat: "%Y-%m-%dT%H:%M:%S"
      LogGroupName: {"Fn::GetOptionSetting": {"OptionName": "LogGroupName"}}
      JSONLogGroupName: {"Fn::GetOptionSetting": {"OptionName": "JSONLogGroupName"}}
      ApplicationName: {"Fn::GetOptionSetting": {"OptionName": "ApplicationName"}}

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            "/tmp/cwlogs/conf.d/application.conf":
              content : |
                [application-logs]
                file = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogFile"]}`
                log_group_name = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogGroupName"]}`
                log_stream_name = `{"Fn::Join": ["-", ["application", {"Fn::FindInMap":["CWLogs", "ApplicationLogs", "ApplicationName"]}]]}`
                datetime_format = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "TimestampFormat"]}`
                multi_line_start_pattern = {datetime_format}

                [application-logs-json]
                file = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "JSONLogFile"]}`
                log_group_name = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "JSONLogGroupName"]}`
                log_stream_name = `{"Fn::Join": ["-", ["application", {"Fn::FindInMap":["CWLogs", "ApplicationLogs", "ApplicationName"]}]]}`
                datetime_format = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "TimestampFormat"]}`

                [application-logs-combined]
                file = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogFile"]}`
                log_group_name = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogGroupName"]}`
                log_stream_name = application-combined
                datetime_format = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "TimestampFormat"]}`
                multi_line_start_pattern = {datetime_format}

              mode  : "000400"
              owner : root
              group : root

container_commands:
  # Cannot reference cloud formation variables here
  01-create-directory:
    command: "mkdir -p /var/log/digitalmarketplace/"
  # if we don't create the file ourselves it gets owned by root
  02-create-file:
    command: "touch /var/log/digitalmarketplace/application.log /var/log/digitalmarketplace/application.log.json"
  03-change-permissions:
    command: "chmod -R 777 /var/log/digitalmarketplace/"
  04-change-ownership:
    command: "chown -R wsgi:wsgi /var/log/digitalmarketplace"
