# See cwl-logs-apache-access.config for more comments
Mappings:
  CWLogs:
    ApplicationLogs:
      LogDirectory: "/var/log/digitalmarketplace"
      LogFile: "/var/log/digitalmarketplace/application.log"
      TimestampFormat: "%Y-%m-%dT%H:%M:%S"
      LogGroupName: {"Fn::GetOptionSetting": {"OptionName": "LogGroupName"}}
      ApplicationName: {"Fn::GetOptionSetting": {"OptionName": "ApplicationName"}}

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            "/tmp/cwlogs/conf.d/application.conf":
              content : |
                [application-logs]
                file = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogFile"]}`
                log_group_name = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogGroupName"]}`
                log_stream_name = `{"Fn::Join": ["-", ["application", {"Fn::FindInMap":["CWLogs", "ApplicationLogs", "ApplicationName"]}]]}`
                datetime_format = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "TimestampFormat"]}`
                [application-logs-combined]
                file = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogFile"]}`
                log_group_name = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "LogGroupName"]}`
                log_stream_name = application-combined
                datetime_format = `{"Fn::FindInMap":["CWLogs", "ApplicationLogs", "TimestampFormat"]}`
              mode  : "000400"
              owner : root
              group : root

container_commands:
  # Cannot reference cloud formation variables here
  01-create-directory:
    command: "mkdir -p /var/log/digitalmarketplace/"
  02-change-permissions:
    command: "chmod 777 /var/log/digitalmarketplace/"
  03-change-ownership:
    command: "chown wsgi:wsgi /var/log/digitalmarketplace"
