{% extends "bootstrap/base.html" %}

{% block title %}Digitalmarketplace API Explorer{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery-1.11.2.min.js') }}"></script>
<script src="{{ url_for('static', filename='explorer.js') }}"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class=""></span>
                <span class=""></span>
                <span class=""></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" id="import-link" data-toggle="collapse" data-target="#import-block">Import</a></li>
                <li><a href="#" id="update-link" data-toggle="collapse" data-target="#update-block">Update</a></li>
                <li><a href="#" id="fetch-link" data-toggle="collapse" data-target="#fetch-block">Fetch</a></li>
                <li><a href="#" id="fetch-archive-link" data-toggle="collapse" data-target="#fetch-archive-block">Fetch Archive</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>API Explorer</h1>

        <p>Use this to test the data api.</p>
    </div>
    <div class="input-group">
        <p>
            <span class="input-group-token" id="token">Bearer Token</span>
            <input id="bearer-token" type="text" class="form-control" placeholder="enter you're bearer token here"
                   aria-describedby="bearer token">
        </p>
        <p>
            <label><h6>Service ID</h6></label>
            <input id="service_id" type="text"/>
        </p>
    </div>

    <div class="container collapse" id="import-block">
        <h3>Import a new service</h3>

        <div class="row">
            <div class="span12">
                <p>
                    <textarea id="import-json" cols="100" rows="25">Copy import JSON here</textarea>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <p>
                    <button class="btn btn-primary" type="button"
                            onclick='importService()'>Import It!
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="container collapse" id="update-block">
        <h3>Update a service</h3>

        <div class="row">
            <div class="span12">
                <p>
                    <label><h6>Key</h6></label>
                    <input id="key" type="text"/>
                    <label><h6>Value</h6></label>
                    <input id="value" type="text"/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <p>
                    <button class="btn btn-primary" type="button"
                            onclick='updateService();'>Update It!
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="container collapse" id="fetch-block">
        <h3>Fetch a service</h3>

        <div class="row">
            <div class="span12">
                <p>
                    <button class="btn btn-primary" type="button"
                            onclick='fetchService();'>Fetch It!
                    </button>
                </p>
            </div>
        </div>
    </div>

     <div class="container collapse" id="fetch-archive-block">
        <h3>Fetch a service</h3>

        <div class="row">
            <div class="span12">
                <p>
                    <button class="btn btn-primary" type="button"
                            onclick='fetchArchivedService();'>Fetch It!
                    </button>
                </p>
            </div>
        </div>
    </div>

    <div class="container" id="response">
        This is a response
    </div>

</div>
{% endblock %}